<nav class='navbar navbar-default'>
  <div id="header" class='container-fluid'>

    <div class='header-banner'>
    	[Comic Name + Banner]
    </div>

    <ul class="nav navbar-nav">
        <li><a href="#">Archive</a></li>  
        <li><a href="#">About</a></li>  
        <li><a href="#">Other Link</a></li> 
    </ul>

  </div>
</nav>