<nav class='navbar navbar-default'>
  <div id="header" class='container-fluid'>

    <a class='header-banner' href='/'>
    	Pilot
    </a>

    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>  
        <li><a href="/comic/archive">Archive</a></li>  
    </ul>

  </div>
</nav>