#comic-page {
	text-align: center;
}

#comic-page .single-comic{

	max-width: 100%;
    margin-bottom: 2em;
}

#comic-page .comic-comment-section {

	text-align: left;
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #BBB;
    background-color: #F8F8F8;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1em;
}

#comic-page .comic-comment-section .title {

	font-size: 2.5em;
}

#comic-page .comic-comment-section .date {
	
	font-size: 1em;
	color: #AAA;
}

#comic-page .comic-comment-section .comic-comment {
	
	padding-top: 2em;
	font-size: 1em;
}

#comic-page #disqus_thread{

    margin-top: 1em;
}

#comic-page .comic-navbar .nav-link{

    font-family: 'Jura';
    font-size: 2em;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

#comic-page .comic-navbar .nav-link[disabled]{

	opacity: 0.2;
	cursor: default;
}

#comic-page .comic-navbar .nav-link:hover{

	color: #008;
	text-decoration: none;
}

#page-list .archive-date{
	float: right;
	padding-right: 2em;
}